/* Global */
:root {
    --main-color: #2253ff;
    --layout-width: 1240px;
    --fixed-width-padding: 0 calc(50% - var(--layout-width)/2 + 20px);
    --animation-speed: .3s;
}
@media (max-width: 1239px) {
    :root {
        --layout-width: 1020px;
    }
}
@media (max-width: 1023px) {
    :root {
        --layout-width: 100%;
    }
}

html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    font-size: 18px;
    background-color: var(--main-color);
}
@media (max-width: 1239px) {
    body {
        font-size: 14px;
    }
}
@media (max-width: 1023px) {
    body {
        font-size: 13px;
    }
}
@media (max-width: 899px) {
    body {
        font-size: 12px;
    }
}
.main {
    overflow: hidden;
}
.section {
    height: 40em;
    background-color: var(--main-color);
}


/* Header */
.header {
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 6em;
    width: 100%;
    padding: var(--fixed-width-padding);
    background-color: transparent;
    transition: transform var(--animation-speed), background-color var(--animation-speed) linear;
}
.header_detached {
    background-color: var(--main-color);
}
.header_hidden {
    transform: translateY(-100%);
}
.logo {
    position: relative;
    z-index: 2;
    flex: 0 0 auto;
    margin-top: 0.89em;
    width: 8.39em;
    height: 1.67em;
    background: url(../src/static/logo.svg) center/contain no-repeat;
}
.menu-button {
    position: relative;
    z-index: 2;
    display: none;
    box-sizing: border-box;
    border: 0;
    margin-top: 0.89em;
    width: 4em;
    height: 4em;
    padding: 0;
    background: url(../src/static/menu-button.svg) center/2em no-repeat;
}
.nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.nav__link {
    display: block;
    border: 2px solid transparent;
    padding: 1em 1.1em;
    font: 1em/1.15 'Roboto', sans-serif;
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
}
.nav__link_login {
    margin-left: 1.2em;
    padding: 1em 1.7em;
}
.nav__link_signup {
    border: 2px solid var(--main-color);
    padding: 1em 1.7em;
}
@media (max-width: 899px) {
    .intro__heading {
        font-size: 2em;
    }
    .menu-button {
        display: block;
    }
    .menu-button_pressed {
        background: url(../src/static/button__close.svg) center/2em no-repeat;
    }
    .nav {
        display: flex;
        opacity: 0;
        visibility: hidden;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 1.2em;
        background-color: var(--main-color);
        transition: opacity var(--animation-speed), visibility var(--animation-speed) var(--animation-speed);
    }
    .nav_expanded {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s, 0s;
    }
    .nav__list {
        flex-direction: column;
    }
    .nav__link_login {
        margin-left: 0;
        margin-top: 1.2em;
        padding: 1em 1.1em;
    }
    .nav__link_signup {
        padding: 1em 1.1em;
        border-color: #fff;
    }
}


/* Intro */
.intro {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.intro__cta {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background: url(../src/static/section_intro.jpg) center/cover no-repeat;
    transition: opacity var(--animation-speed) var(--animation-speed);
}
.intro_video-mode .intro__cta {
    opacity: 0;
    transition-delay: 0s;
}
.intro__cta-wrap {
    width: 100%;
    padding: var(--fixed-width-padding);
    text-align: center;
}
.intro__heading {
    margin: 0 auto 0.7em;
    max-width: 15em;
    font: 3.33em/1.25 'Roboto', sans-serif;
    letter-spacing: .02em;
    color: #fff;
}
.intro__button {
    display: inline-block;
    margin: 1em 3em;
    padding: 1em 2.75em;
    font: 1em/1.35 'Roboto', sans-serif;
    text-decoration: none;
    background-color: var(--main-color);
    color: #fff;
}
.intro__play {
    display: inline-block;
    margin: 1em 0;
    padding: 1em 0em 1em 4.5em;
    font: 1em/1.35 'Roboto', sans-serif;
    background: url(../src/static/intro__play.svg) left/contain no-repeat;
    text-decoration: none;
    color: #fff;
}
.intro__video {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    transform-origin: center;
    transform: translate3d(0, -50%, 0) scale(1.1);
    transition: opacity var(--animation-speed), transform var(--animation-speed), visibility var(--animation-speed);
}
.intro__video::after {
    content: '';
    display: block;
    padding-bottom: 56.25%;
}
.intro_video-mode .intro__video {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, -50%, 0) scale(1);
    transition-delay: var(--animation-speed), var(--animation-speed), var(--animation-speed);
}
.intro__iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.intro__close {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 5.5em;
    width: 5.5em;
    height: 5.5em;
    margin-left: -2.25em;
    border: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    cursor: pointer;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity var(--animation-speed), transform var(--animation-speed);
}
.intro__close::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(../src/static/button__close.svg) center no-repeat;
}
.intro_video-mode .intro__close {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--animation-speed) * 2), calc(var(--animation-speed) * 2);
}
@media (max-width: 899px) {
    .intro__heading {
        margin-top: 2em;
        font-size: 2.5em;
    }
}


/* Courses */
.courses {
    position: relative;
    box-sizing: border-box;
    padding: var(--fixed-width-padding);
}
.courses_expanded {
    overflow: visible;
}
.courses::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: transform var(--animation-speed);
}
.courses_expanded.courses::before {
    transform: scale(4);
}
.courses__close {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -5.5em;
    width: 5.5em;
    height: 5.5em;
    margin-left: -2.25em;
    border: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    transition: opacity var(--animation-speed) 0s, transform var(--animation-speed) 0s;
}
.courses__close::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(../src/static/button__close.svg) center no-repeat;
}
.courses_expanded .courses__close {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--animation-speed) * 2), calc(var(--animation-speed) * 2);
}
.courses__left {
    position: relative;
    width: 33em;
    transition: opacity var(--animation-speed) var(--animation-speed), visibility var(--animation-speed) var(--animation-speed);
}
.courses_expanded .courses__left {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, 0s;
}
.courses__desc {
    width: 30em;
    box-sizing: border-box;
    padding: 7em 7em 3em 0;
}
.courses__heading {
    margin: 0.8em 0;
    font: 2.22em/1.5 'Roboto', sans-serif;
    color: #fff;
}
.courses__text {
    margin: 0 0 2.6em;
    font: 1.39em/1.44 'Roboto', sans-serif;
    color: #fff;
}
.courses__link {
    padding-left: 2em;
    font: 1.39em/1 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
    background: url(../src/static/courses__link.svg) left/1em no-repeat;
}
.courses__right {
    position: absolute;
    width: 100%;
    left: 32em;
    top: 0;
    transition: left var(--animation-speed);
}
.courses_expanded .courses__right {
    left: 0;
    overflow: auto;
    transition-delay: var(--animation-speed);
}
.courses__list {
    margin: 3em 0;
    padding: 0 1.7em;
    list-style-type: none;
    display: inline-flex;
    flex-direction: row-reverse;
    counter-reset: course;
    transition: padding var(--animation-speed) 0s;
}
.course-tile {
    box-sizing: border-box;
    position: relative;
    margin: 0 1.7em;
    flex: 0 0 20em;
    width: 20em;
    height: 33.34em;
    background-color: #fff;
    box-shadow: 0 1.07em 1.25em rgba(0, 0, 0, .15);
    transition: box-shadow .15s;
    counter-increment: course;
}
.course-tile:hover {
    box-shadow: 0 1.07em 2.5em rgba(0, 0, 0, .15);
}
.course-tile::before {
    content: counter(course);
    position: absolute;
    left: 1.2em;
    top: 1.2em;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 1.39em/1 'Roboto', sans-serif;
    color: #191919;
    background-color: #fff;
    pointer-events: none;
}
.course-tile__link {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
    text-decoration: none;
}
.course-tile__image {
    flex: 1 1 auto;
    background-position: center;
    background-size: cover;
}
.course-tile__heading {
    flex: 0 1 2.88em;
    margin: 1.2em 0 1.2em;
    padding: 0 2.4em;
    font: 1.39em/1.44 'Roboto', sans-serif;
    color: #191919;
}
.course-tile__desc {
    opacity: 0;
    height: 0;
    flex: 0 1 0;
    margin: 0;
    padding: 0 3.3em;
    font: 1em/1.44 'Roboto', sans-serif;
    color: #777;
    transform: translateY(33%);
    transition: flex-basis var(--animation-speed) .15s, opacity var(--animation-speed) 0s, transform var(--animation-speed) 0s;
}
.course-tile:hover .course-tile__desc {
    opacity: 1;
    flex-basis: 6.22em;
    transform: translateY(0);
    transition-delay: 0s, .15s, .15s;
